<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>OWSOM platform</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h1>OWSOM Platform</h1>
			</div>
		</div>
	<div class="row">
		<div class="col-lg-12">
			<h3><a href="/storage">Store data</a></h3><br>
			<h3>Search data</h3>
		</div>
	</div>



</body>
</html>