		
    
    <div class="row">
			<div class="col-lg-6">
				<h4>Scale type<br>
				<small>Is it an original, revised or brief version of the scale?</small></h4>
				<div class="radio-inline">
					<label class="radio-inline">
						<input type="radio" name="scaleType" id="scaleType1" value="original">Original
					</label>
					<label class="radio-inline">
						<input type="radio" name="scaleType" id="scaleType2" value="revised">Revised
					</label>
					<label class="radio-inline">
						<input type="radio" name="scaleType" id="scaleType3" value="brief">Brief
					</label>
				</div>
				
			</div>
  			<div class="col-lg-6">
  				<h4>Scale measure type<br>
  				<small>How are these items measured?</small></h4>
  				<p>(Reseachers may use different types of scales to measure individual responses, e.g.Likert scales, Guttman scales or semantic scales)</p>
  				<div class="radio-inline">
  					<label class="radio-inline">
  						<input type="radio" name="measureType" id="measureType1" value="likert">Likert scales
  					</label>
  					<label class="radio-inline">
  						<input type="radio" name="measureType" id="measureType2" value="guttman">Guttman scales
  					</label>
  					<label class="radio-inline">
  						<input type="radio" name="measureType" id="measureType3" value="differential">Semantic differential scales
  					</label>
  					<label class="radio-inline">
  						<input type="radio" name="measureType" id="measureType4" value="other">Other
  					</label>
  				</div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
  				<h4>Scale concept<br>
  				<small>What is the concept this scale was designed to measure?</small></h4>
  				<form role="form">
  					<div class="form-group">
  						<input type="text" class="form-control data secondary" id="concept" placeholder="Please enter your data here">
  					</div>
  				</form>
  				<h4><small>How is the concept defined in the present publication?</small></h4>
  				<p>(If applicable, please copy a short description of the concept provided by the publication authors)</p>
  				<form role="form">
  					<div class="form-group">
  						<textarea class="form-control" rows="3" id="conceptDef" placeholder="Please enter your data here"></textarea>
  					</div>
  				</form>

        </div>
        <div class="col-lg-6">
  				<h4>Scale points<br>
  				<small>Does this scale always consist of the same number of points?</small></h4>
  				<div class="radio-inline">
  					<label class="radio-inline">
  						<input type="radio" name="likertPoints" id="likertPoints" value="yes">Yes
  					</label>
  					<label class="radio-inline">
  						<input type="radio" name="likertPoints" id="likertPoints" value="no">No
  					</label>
  				</div>
  				<h4><small>How many points does the scale have?</small></h4>
  				<p>(Reseachers may use scales with different numbers of choices, e.g. <code>5-point scales</code> or <code>7-point scales</code>)</p>
  				<form role="form">
  					<div class="form-group">
  						<input type="text" class="form-control data secondary" id="likertPointsAmount" placeholder="Please enter your data here">
  					</div>
  				</form>
  				<!-- <h4><small>Please provide information on the numbers of Likert scale points used for different items (or groups of items)</small></h4>
          <p>(Reseachers may use scales with different numbers of choices, e.g. <code>5-point scales</code> or <code>7-point scales</code>)</p>
          <form role="form">
            <div class="form-group">
              <input type="text" class="form-control data secondary" id="likertPointsInfo" placeholder="Please enter your data here">
            </div>
          </form> -->
  			</div>
      
		</div>
    <!-- <div class="row">
      <div class="col-lg-6">
        <h4>Scale items<br>
        <small>How many items does the scale consist of?</small></h4>
        <form role="form">
          <div class="form-group">
            <input type="text" class="form-control data secondary" id="scaleItems" placeholder="Please enter your data here">
          </div>
        </form>
      </div>
    </div> -->
		<div class="row">
      <div class="col-lg-6">
    				<h4>Reliability<br/>
    				<small>Researchers report reliability metrics for social measurement scales, most often using Cronbach's
    		alpha (α).</small></h4>
            <!-- <h3><small>What is the reliability of the total scale?</small></h3>
            <p>(Please provide in the following format: e.g. <code>.89</code>)</p> -->
    				<form role="form">
    					<div class="form-group">
    						<input type="text" class="form-control data secondary" id="totalReliability" placeholder="e.g. .83">
    					</div>
    				</form>
      </div>
			<div class="col-lg-6">
				<h4>Scale anchors<br>
				<small>What are the anchors for these Likert scales?</small></h4>
				<p>(Reseachers typically use anchors to indicate what the scale points correspond to, e.g. <code>strongly disagree to strongly agree</code> or <code>not at all to very much</code>)</p>
				<form role="form">
					<div class="form-group">
						<input type="text" class="form-control data secondary" id="likertPointsInfo1" placeholder="Please enter your data here">
						<input type="text" class="form-control data secondary" id="likertPointsInfo2" placeholder="Please enter your data here">
					</div>
				</form>
			</div>
		</div>