{% extends "index.html" %}

{% block scripts %}
{{super()}}
<script src="{{url_for('.static', filename='js/owsom.js')}}"></script>
{% endblock %}

{% block owsom_content %}
    
		<div class="row">
			<div class="col-lg-12">
				<h3>Publication</h3>
      </div>
    </div>
    <div class="row" id="doi-row">
      <div class='col-md-6'>
        <div class="form-group">
          <label for="#doi-input">DOI <small>Please provide the DOI of the publication you will be entering into the system</small></label>
          <input type="text" class="form-control data primary" id="doi-input" placeholder="e.g. 10.1037/rmh0000008">
        </div>
        <!-- <button id="doi-button" class="btn btn-default">Submit</button> -->
      </div>
      <div class='col-md-6'>
        <div class="well" style="display: none;" id='publication-details-col'>
        </div>
      </div>
    </div>
		<div class="row">
			<div class="col-lg-12">
				<h3>Study<div class="btn btn-default btn-xs pull-right" id="toggle-study-details">Toggle Details</div></h3>
      </div>
    </div>
    <div class="row">

        <div class="col-lg-6">
					<div class="form-group">
            <label for='#studyName'>Name <small>What is the name of the study you would like to record?</small></label>
						<input type="text" class="form-control data primary" id="studyName" placeholder="Please enter your data here">
          </div>
        </div>
        <div class="col-lg-6">
            <div id='show-all-studies-button' class='btn btn-info btn-xs pull-right'>Show all studies</div>
        </div>


    </div>
    <div class="row">
      <div class="col-lg-12">
        <div id="study-details" class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Study details</h3>
          </div>
          <div class="panel-body">
            {% include 'study_details.html' %}
          </div>
        </div>
      </div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<h3>Scale<div class="btn btn-default btn-xs pull-right" id="toggle-scale-details">Toggle Details</div></h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
				<form role="form">
					<div class="form-group">
            <label for="#scaleName">Name <small>What is the name of the scale?</small></label>
						<input type="text" class="form-control data primary" id="scaleName" placeholder="Please enter your data here">
					</div>
				</form>
			</div>
		</div>
    <div class="row">
      <div class="col-lg-12">
        <div id="scale-details" class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Scale details</h3>
          </div>
          <div class="panel-body">
            {% include 'scale_details.html' %}
          </div>
        </div>
      </div>
		</div>


		<div class="row">
			<div class="col-lg-12">
				<h3>Dimensions</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10">
				<label><small>In many cases, social science scales are developed in order to measure a concept or construct which subsumes other lower-level constructs. Thus, social science scales can either be unidimensional (i.e., measuring one unified construct) or mutidimensional (i.e. measuring more than one constructs).<br/>
		Multidimensionality should be explicitly indicated in a publication, either by referring to distinct dimensions or by referring to distinct subscales. Please answer the following questions based on such information on dimensions or subscales.</small></label>
			</div>
      <div class="col-lg-2">
        <div id="add-dimension" class="btn btn-primary btn-xs pull-right">Add dimension</div>
      </div>
		</div>
    
    
    <div class="row">
      <div class="col-lg-12">
        <ul class='list-group' id="dimension-list">
        </ul>
        
      </div>
    </div>
    
    
    
    





{% endblock %}