{% extends "index.html" %}

{% block scripts %}
{{super()}}
<script src="{{url_for('.static', filename='js/owsom.js')}}"></script>
{% endblock %}

{% block owsom_content %}

	<div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Enter data on scales</h2>
        <hr/>
      </div>
    </div>
    
    <div class="row" id="doi-row">
      <div class='col-md-6'>
        <div class="form-group">
          <label for="#doi-input">DOI <small>Please provide the DOI of the publication you will be entering into the system</small></label>
          <input type="text" class="form-control data primary" id="doi-input" placeholder="e.g. 10.1037/rmh0000008">
        </div>
        <!-- <button id="doi-button" class="btn btn-default">Submit</button> -->
      </div>
      <div class='col-md-6'>
        <div class="well" style="display: none;" id='publication-details-col'>
        </div>
      </div>
    </div>
    
    
    
    <!-- <div class="row">
      <div class="col-lg-6">
        <h3>Publication type<br>
        <small>What type of publication did you use?</small></h3>
        <div class="radio-inline">
          <label class="radio-inline">
            <input type="radio" name="publicationTypes" id="publicationType1" value="option1">Journal article
          </label>
          <label class="radio-inline">
            <input type="radio" name="publicationTypes" id="publicationType2" value="option2">Book chapter
          </label>
          <label class="radio-inline">
            <input type="radio" name="publicationTypes" id="publicationType2" value="option3">Book
          </label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <h3>Authors<br>
        <small>What are the last names and initials of the publication authors?</small></h3>
        <p>(please provide author names in the following format: e.g. <code>Goldberg, L. R.</code>)</p>
        <form role="form">
          <div class="form-group">
            <input type="text" class="form-control data secondary" id="author1" placeholder="Please enter your data here">
          </div>
          <div class="form-group">
            <input type="text" class="form-control data secondary" id="author2" placeholder="Please enter your data here">
          </div>
          <div class="form-group">
            <input type="text" class="form-control data secondary" id="author3" placeholder="Please enter your data here">
          </div>
          <div class="form-group">
            <input type="text" class="form-control data secondary" id="author4" placeholder="Please enter your data here">
          </div>
          <div class="form-group">
            <input type="text" class="form-control data secondary" id="author5" placeholder="Please enter your data here">
          </div>
          <div class="form-group">
            <input type="text" class="form-control data secondary" id="author6" placeholder="Please enter your data here">
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <h3>Publication year<br>
        <small>What is the year of the publication?</small></h3>
        <form role="form">
          <div class="form-group">
            <input type="text" class="form-control data secondary" id="pubYear" placeholder="Please enter your data here">
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <h3>Publication title<br>
        <small>What is the title of the publication you used?</small></h3>
        <p>(depending on the type of publication, please provide the title of the article, book chapter or book)</p>
        <form role="form">
          <div class="form-group">
            <input type="text" class="form-control data secondary" id="pubTitle" placeholder="Please enter your data here">
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <h3>Journal name<br>
        <small>What is the name of the journal in which the article was published?</small></h3>
        <form role="form">
          <div class="form-group">
            <input type="text" class="form-control data secondary" id="journalName" placeholder="Please enter your data here">
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <h3>Journal title<br>
        <small>What is the DOI of the publication you used?</small></h3>
        <p>(the DOI is a digital object identifier, which is commonly displayed in the journal article webpage)</p>
        <form role="form">
          <div class="form-group">
            <input type="text" class="form-control data secondary" id="journalDOI" placeholder="Please enter your data here">
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <h3>Book title<br>
        <small>What is the title of the book where you found the book chapter?</small></h3>
        <form role="form">
          <div class="form-group">
            <input type="text" class="form-control data secondary" id="bookTitle" placeholder="Please enter your data here">
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <h3>Book ISBN<br>
        <small>What is the ISBN for the book you used?</small></h3>
        <p>(the ISBN is an unique identifier, which is commonly printed on the back of the book cover)</p>
        <form role="form">
          <div class="form-group">
            <input type="text" class="form-control data secondary" id="bookISBN" placeholder="Please enter your data here">
          </div>
        </form>
      </div>
    </div> -->
		<div class="row">
			<div class="col-lg-6">
				<h3>Publication studies<br>
				<small>Does the publication you used include more than one study?</small></h3>
				<div class="radio-inline">
					<label class="radio-inline">
						<input type="radio" name="pStudies" id="pStudies1" value="yes">Yes
					</label>
					<label class="radio-inline">
						<input type="radio" name="pStudies" id="pStudies2" value="no">No
					</label>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<h3>Study name<br><div class="btn btn-default btn-small btn-xs" id="toggle-study-details">Toggle Details</div>
				<small>What is the name of the study you would like to record?</small></h3>
				<form role="form form-inline">
					<div class="form-group">
						<input type="text" class="form-control data primary" id="studyName" placeholder="Please enter your data here">
					</div>
				</form>
			</div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div id="study-details" class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Study details</h3>
          </div>
          <div class="panel-body">
            {% include 'study_details.html' %}
          </div>
        </div>
      </div>
		</div>
		<div class="row">
			<div class="col-lg-6">
				<h3>Scale name<br><div class="btn btn-default btn-small btn-xs" id="toggle-scale-details">Toggle Details</div>
				<small>What is the name of the scale?</small></h3>
				<form role="form">
					<div class="form-group">
						<input type="text" class="form-control data primary" id="scaleName" placeholder="Please enter your data here">
					</div>
				</form>
			</div>
		</div>
    <div class="row">
      <div class="col-lg-12">
        <div id="scale-details" class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Scale details</h3>
          </div>
          <div class="panel-body">
            {% include 'scale_details.html' %}
          </div>
        </div>
      </div>
		</div>


		<div class="row">
			<div class="col-lg-12">
				<h3>Dimensionality</h3>
				<p>In many cases, social science scales are developed in order to measure a concept or construct which subsumes other lower-level constructs. Thus, social science scales can either be unidimensional (i.e., measuring one unified construct) or mutidimensional (i.e. measuring more than one constructs).<br>
		Multidimensionality should be explicitly indicated in a publication, either by referring to distinct dimensions or by referring to distinct subscales. Please answer the following questions based on such information on dimensions or subscales.</p>
			</div>
		</div>
    
    
    <div class="row">
      <div class="col-lg-12">
        <table class="table table-striped">
          <thead>
            <tr><th>Dimension</th><th>Sub-dimension</th><th>Item</th></tr>
          </thead>
          <tbody id='dimensions-body'>
            <tr></tr>
          </tbody>
        </table>
        <div id="add-dimension" class="btn btn-primary">Add dimension</div>
      </div>
    </div>
    
    
    
    
		<div class="row">
			<div class="col-lg-6">
				<h3>Dimensions<br>
				<small>Does the scale include distinct subscales or dimensions?</small></h3>
				<div class="radio-inline">
					<label class="radio-inline">
						<input type="radio" name="dimensions" id="dimensions1" value="yes">Yes
					</label>
					<label class="radio-inline">
						<input type="radio" name="dimensions" id="dimensions2" value="no">No
					</label>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6">
				<h3><small>How many sub-scales or dimensions does the scale include?</small></h3>
				<form>
				<select id="subscales">
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
					<option value="6">6</option>
				</select>
				</form>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6">
				<h3><small>What are the names of these sub-scales or dimensions?</small></h3>
			</div>
		</div>
		<div class="row">
				<form role="form">
					<div class="col-md-4">
						<div class="form-group">
							<input type="text" class="form-control data secondary" id="subscale[0]" placeholder="Please enter your data here">
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input type="text" class="form-control data secondary" id="subscale[1]" placeholder="Please enter your data here">
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input type="text" class="form-control data secondary" id="subscale[2]" placeholder="Please enter your data here">
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input type="text" class="form-control data secondary" id="subscale[3]" placeholder="Please enter your data here">
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input type="text" class="form-control data secondary" id="subscale[4]" placeholder="Please enter your data here">
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input type="text" class="form-control data secondary" id="subscale[5]" placeholder="Please enter your data here">
						</div>
					</div>
				</form>
		</div>
		<div class="row">
			<div class="col-lg-6">
				<h3>Factor analysis<br>
				<small>Have the authors performed factor analysis to examine dimensionality?</small></h3>
				<div class="radio-inline">
					<label class="radio-inline">
						<input type="radio" name="factorAnalysis" id="factorAnalysisYes" value="yes">Yes
					</label>
					<label class="radio-inline">
						<input type="radio" name="factorAnalysis" id="factorAnalysisNo" value="no">No
					</label>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<h3><small>What type of factor analyses have the authors performed?</small></h3>
			</div>
			<div class="col-md-6">
				<div class="radio-inline">
					<label class="radio-inline">
					<input type="radio" name="factorAnalysisType" id="factorAnalysisType1" value="exploratory">Exploratory factor analysis (EFA)
					</label>
				</div>
			</div>
			<div class="col-md-6">
				<div class="radio-inline">
					<label class="radio-inline">
						<input type="radio" name="factorAnalysisType" id="factorAnalysisType2" value="confirmatory">Confirmatory factor analysis (CFA)
					</label>
				</div>
			</div>
			<div class="col-md-6">
				<div class="radio-inline">
					<label class="radio-inline">
						<input type="radio" name="factorAnalysisType" id="factorAnalysisType3" value="both">Both exploratory (EFA) and confirmatory factor analysis (CFA)
					</label>
				</div>
			</div>
			<div class="col-md-6">
				<div class="radio-inline">
					<label class="radio-inline">
						<input type="radio" name="factorAnalysisType" id="factorAnalysisType4" value="principal">Principal components analysis (PCA)
					</label>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<h3>Reliability</h3>
				<p>Researchers report reliability metrics for social measurement scales, most often using Cronbach's
		alpha (α).</p>
				<h3><small>What is the reliability of the total scale?</small></h3>
				<p>(Please provide in the following format: e.g. <code>.89</code>)</p>
				<form role="form">
					<div class="form-group">
						<input type="text" class="form-control data secondary" id="totalReliability" placeholder="Please enter your data here">
					</div>
				</form>
			</div>
		</div>	
		<div class="row">
			<div class="col-lg-6">
				<h3><small>What is the reliability of the before-mentioned dimension or sub-scale?</small></h3>
			</div>
		</div>
		<div class="row">
				<form role="form">
					<div class="col-md-4">
						<div class="form-group">
							<input type="text" class="form-control data secondary" id="subscaleReliability0" placeholder="Please enter your data here">
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input type="text" class="form-control data secondary" id="subscaleReliability1" placeholder="Please enter your data here">
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input type="text" class="form-control data secondary" id="subscaleReliability2" placeholder="Please enter your data here">
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input type="text" class="form-control data secondary" id="subscaleReliability3" placeholder="Please enter your data here">
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input type="text" class="form-control data secondary" id="subscaleReliability4" placeholder="Please enter your data here">
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input type="text" class="form-control data secondary" id="subscaleReliability5" placeholder="Please enter your data here">
						</div>
					</div>
				</form>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<h3>Items<br>
				<small>Please copy the items for dimension or sub-scale -1- in the fields below</small></h3>
				<p>If applicable, please indicate the item order suggested by the authors in parantheses.<br></p>
					<p>Further, indicate whether each item is reversed by checking Yes or No right beside it.<br></p>
					<p>Finally, if applicable, also note the factor loading in the appropriate field next to each item (Please use the following format: e.g. <code>.54</code>)</p>
				</div>
				<div class="col-md-8">
					<h5>Item</h5>
				</div>
				<div class="col-md-1">
					<h5>Reversed</h5>
				</div>
				<div class="col-md-2">
					<h5>Factor loading</h5>
				</div>
					<div class="col-md-8">
					<form role="form">
						<div class="form-group">
							<input type="text" class="form-control data secondary" id="item1Dimension1" placeholder="Please enter your data here">
						</div>
					</form>
					</div>
					<div class="col-md-1">
						<div class="checkbox">
							<label>
								<input type="checkbox" id="item1Dimension1Reversed">
						</div>
					</div>
					<div class="col-md-1">
						<div class="form-group">
							<input type="text" class="form-control data secondary" id="item1Dimension1FactorLoading" placeholder="Value">
						</div>
					</div>
					<div class="col-md-8">
					<form role="form">
						<div class="form-group">
							<input type="text" class="form-control data secondary" id="item2Dimension1" placeholder="Please enter your data here">
						</div>
					</form>
					</div>
					<div class="col-md-1">
						<div class="checkbox">
							<label>
								<input type="checkbox" id="item2Dimension1Reversed">
						</div>
					</div>
					<div class="col-md-1">
						<div class="form-group">
							<input type="text" class="form-control data secondary" id="item2Dimension1FactorLoading" placeholder="Value">
						</div>
					</div>
					<div class="col-md-8">
					<form role="form">
						<div class="form-group">
							<input type="text" class="form-control data secondary" id="item3Dimension1" placeholder="Please enter your data here">
						</div>
					</form>
					</div>
					<div class="col-md-1">
						<div class="checkbox">
							<label>
								<input type="checkbox" id="item3Dimension1Reversed">
						</div>
					</div>
					<div class="col-md-1">
						<div class="form-group">
							<input type="text" class="form-control data secondary" id="item3Dimension1FactorLoading" placeholder="Value">
						</div>
					</div>
					<div class="col-md-8">
					<form role="form">
						<div class="form-group">
							<input type="text" class="form-control data secondary" id="item4Dimension1" placeholder="Please enter your data here">
						</div>
					</form>
					</div>
					<div class="col-md-1">
						<div class="checkbox">
							<label>
								<input type="checkbox" id="item4Dimension1Reversed">
						</div>
					</div>
					<div class="col-md-1">
						<div class="form-group">
							<input type="text" class="form-control data secondary" id="item4Dimension1FactorLoading" placeholder="Value">
						</div>
					</div>
					<div class="col-md-8">
					<form role="form">
						<div class="form-group">
							<input type="text" class="form-control data secondary" id="item5Dimension1" placeholder="Please enter your data here">
						</div>
					</form>
					</div>
					<div class="col-md-1">
						<div class="checkbox">
							<label>
								<input type="checkbox" id="item5Dimension1Reversed">
						</div>
					</div>
					<div class="col-md-1">
						<div class="form-group">
							<input type="text" class="form-control data secondary" id="item5Dimension1FactorLoading" placeholder="Value">
						</div>
					</div>
					<div class="col-md-8">
					<form role="form">
						<div class="form-group">
							<input type="text" class="form-control data secondary" id="item6Dimension1" placeholder="Please enter your data here">
						</div>
					</form>
					</div>
					<div class="col-md-1">
						<div class="checkbox">
							<label>
								<input type="checkbox" id="item6Dimension1Reversed">
						</div>
					</div>
					<div class="col-md-1">
						<div class="form-group">
							<input type="text" class="form-control data secondary" id="item6Dimension1FactorLoading" placeholder="Value">
						</div>
					</div>
					<div class="col-md-8">
					<form role="form">
						<div class="form-group">
							<input type="text" class="form-control data secondary" id="item7Dimension1" placeholder="Please enter your data here">
						</div>
					</form>
					</div>
					<div class="col-md-1">
						<div class="checkbox">
							<label>
								<input type="checkbox" id="item7Dimension1Reversed">
						</div>
					</div>
					<div class="col-md-1">
						<div class="form-group">
							<input type="text" class="form-control data secondary" id="item7Dimension1FactorLoading" placeholder="Value">
						</div>
					</div>
					<div class="col-md-8">
					<form role="form">
						<div class="form-group">
							<input type="text" class="form-control data secondary" id="item8Dimension1" placeholder="Please enter your data here">
						</div>
					</form>
					</div>
					<div class="col-md-1">
						<div class="checkbox">
							<label>
								<input type="checkbox" id="item8Dimension1Reversed">
						</div>
					</div>
					<div class="col-md-1">
						<div class="form-group">
							<input type="text" class="form-control data secondary" id="item8Dimension1FactorLoading" placeholder="Value">
						</div>
					</div>
					<div class="col-md-8">
					<form role="form">
						<div class="form-group">
							<input type="text" class="form-control data secondary" id="item9Dimension1" placeholder="Please enter your data here">
						</div>
					</form>
					</div>
					<div class="col-md-1">
						<div class="checkbox">
							<label>
								<input type="checkbox" id="item9Dimension1Reversed">
						</div>
					</div>
					<div class="col-md-1">
						<div class="form-group">
							<input type="text" class="form-control data secondary" id="item9Dimension1FactorLoading" placeholder="Value">
						</div>
					</div>
					<div class="col-md-8">
					<form role="form">
						<div class="form-group">
							<input type="text" class="form-control data secondary" id="item10Dimension1" placeholder="Please enter your data here">
						</div>
					</form>
					</div>
					<div class="col-md-1">
						<div class="checkbox">
							<label>
								<input type="checkbox" id="item10Dimension1Reversed">
						</div>
					</div>
					<div class="col-md-1">
						<div class="form-group">
							<input type="text" class="form-control data secondary" id="item10Dimension1FactorLoading" placeholder="Value">
						</div>
					</div>
		</div>



{% endblock %}