
		<div class="row">
			<div class="col-lg-6">
				<h4><small>What is the sample size in this study?</small></h4>
				<form role="form">
					<div class="form-group">
						<input type="text" class="form-control data secondary" id="sampleSize" placeholder="Please enter your data here">
					</div>
				</form>
			</div>
			<div class="col-lg-6">
				<h4><small>What is the mean age of participants in this study?</small></h4>
				<form role="form">
					<div class="form-group">
						<input type="text" class="form-control data secondary" id="meanAge" placeholder="Please enter your data here">
					</div>
				</form>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6">
				<h4><small>What is the percentage of female participants in this study?</small></h4>
				<form role="form">
					<div class="form-group">
						<input type="text" class="form-control data secondary" id="femPercentage" placeholder="Please enter your data here">
					</div>
				</form>
			</div>
			<div class="col-lg-6">
				<h4><small>What country was this study conducted in?</small></h4>
				<form role="form">
					<div class="form-group">
						<input type="text" class="form-control data secondary" id="country" placeholder="Please enter your data here">
					</div>
				</form>
			</div>
		</div>
    <div class="row">
      <div class="col-lg-6">
        <h4>Factor Analysis<br/>
        <small>Have the authors performed factor analysis, and if so, what type?</small></h4>
        <form role="form">
          <div class="form-group">
            <input type='text' id='factor-analysis-type'>
          </div>
        </form>
      </div>
    </div>