@import url(http://fonts.googleapis.com/css?family=Fredericka+the+Great);

h1.title, .navbar-brand.title, h2, h3 {
  font-family: "Fredericka the Great";
}

.form-inline .form-group label {
  margin-right: 5px;
  margin-left: 5px;
}

.form-inline .form-group input {
  margin-right: 5px;
}

.btn {
  width: 130px;
}